
@using System.Data
@using System.Data.SqlClient
@using Vulnerability_Management.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@{
    
    //var prod = (Vulnerability_Management.Models.CreateAccount)ViewData.Model.Tables[0].Rows[0][0];  

    var prod = Model.Tables[0].Rows[0][0].ToString();

    var prod1 = Model.Tables[0].Rows[0][1].ToString(); 
    var prod2 = Model.Tables[0].Rows[0][2].ToString();   
}

<h1>Product</h1>
<h3>ID: @prod</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>
    <tr>
        <td>@prod</td>
        <td>@prod1</td>
        <td>@prod1</td>
    </tr>
</table>

@*<h3>Name: @prod.Pass </h3>
<h3>Description: @prod.confmPass</h3>*@


