@model Vulnerability_Management.Models.CreateAccount
@{
    ViewBag.Title = "CreateSignUser";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create New User!!</h2>
@using (Html.BeginForm("CreateSignUser", "CreateUser", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken();
    @*<h4>Add User</h4>*@
    <hr />
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(n => n.UserEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(n => n.UserEmail, new { @class = "form-control" })
         </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Pass, new { @class="col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(n => n.Pass, new { @class="form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.confmPass, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(n => n.confmPass, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
        
}

